/* Không thay đổi */
.App,
.App * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* 
.App {
  text-align: center;
  width: 100%;
  max-width: 780px;
  margin: auto;
  padding: 15px;
  color: #222;
  font: normal normal normal 1rem/1.6 Nunito Sans, Helvetica, Arial, sans-serif;
} */


/* Kiểu cho thiết bị có kích thước màn hình lớn */
/* @media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
} */

/* Kiểu cho thiết bị có kích thước màn hình nhỏ hơn, như tablet */
/* @media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 720px;
  }
} */

/* Kiểu cho thiết bị di động */
/* @media (max-width: 767px) {
  .container {
    width: 100%;
  }
} */

.App .main{
  max-width: 1200px;
  margin: auto;
}

